sudo: false
language: python
cache: pip
python:
  - 3.3
  - 3.4
  - 3.5
  - 3.6
  - pypy
before_script: "pip install -r dev-requirements.txt"
install: "pip install -r requirements.txt"
script: "python setup.py test"